version: '3'
services:
  cielifra-bot:
    container_name: cielifra-bot
    image: ghcr.io/harukaxxxx/cielifra-bot:latest
    environment:
      - DISCORD_TOKEN=
      - OWNER_IDS=
    volumes:
      - ./logs:/app/logs
    command: python -m bot
    restart: unless-stopped
